.course-detail{
    padding-top: 70px;
    justify-content: center;
    margin: auto;
    padding-left: 10%;
}

.course-detail img{
    height: 200px;
    width: 400px;
}

.syllabus-week h4 {
    cursor: pointer;
  }
  
  .syllabus-week p {
    margin-left: 20px;
  }

  .highligh{
    color: rgb(104, 40, 40);
    font-size: 20px !important;
    font-weight: bold;
  }

  .course-detail .toggle-indicator {
    margin-left: 10px;
    cursor: pointer;
}

.course-detail h4 {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.course-detail h4:hover {
    color: #007bff;
}

.spanEle{
    font-size: 20px;
}