.student-dashboard {
    padding: 20px;
    padding-top: 70px;
    /* margin-top: 10%; */
  }
  .student-dashboard h1{
    color: white;
  }
  .naming{
    color: #a51830;
  }
  
  .dashboard-list {
    display: flex;
    flex-wrap: wrap;
    /* overflow: hidden; */
    justify-content: center;
  }
  
  .dashboard-card {
    margin-bottom: 10px;
  }

  
  .course-info {
    text-align: center;
  }
  
  .progress-bar {
    width: 100%;
    background-color: #f3f3f3;
    border-radius: 5px;
    margin: 10px 0;
  }
  
  .progress {
    height: 10px;
    background-color: #4caf50;
    border-radius: 5px;
  }
  
  .completed {
    color: green;
  }
  
  button {
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  